# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# FRONTEND
frontend/.next/
frontend/node_modules/
frontend/tsconfig.tsbuildinfo
!frontend/next-env.d.ts

# BACKEND
backend/target/
backend/*.jar
backend/*.log
